@model ProductsListViewModel

<!-- Товары -->

@foreach (var product in Model.Products)
{
	<partial name="ProductSummary" model="product" />
}

<!-- # Товары -->

<!-- Навигация -->

<div
	class="btn-group float-end m-1"
	page-action="Index"
	page-class="btn"
	page-class-normal="btn-outline-primary"
	page-class-selected="btn-primary"
	page-classes-enabled="true"
	page-model="@Model.PagingInfo"
	page-url-category="@Model.CurrentCategory!">
</div>

<!-- # Навигация -->