@model ProductsListViewModel

<!-- Товары -->

@foreach (var product in Model.Products)
{
	<partial name="ProductSummary" model="product" />
}

<!-- # Товары -->

<!-- Страницы товаров -->

<div
	page-model="@Model.PagingInfo"
	page-action="Index"
	page-classes-enabled="true"
	page-class="btn"
	page-class-normal="btn-outline-dark"
	page-class-selected="btn-primary"
	page-url-category="@Model.CurrentCategory!"
	class="btn-group float-start m-1">
</div>

<!-- # Страницы товаров -->