@page "/admin"
@{ Layout = null; }
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<!DOCTYPE html>

<html lang="en">

<head>

	<base href="/">
	<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, width=device-width">
	<title>SportsStore Admin</title>

</head>

<body>

<component type="typeof(Routed)" render-mode="Server" />
@* ReSharper disable Html.PathError *@
<script src="~/_framework/blazor.server.js"></script>

</body>

</html>