<!DOCTYPE html>

<html lang="en">

<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="initial-scale=1.0, width=device-width" />
	<title>SportsStore</title>

</head>

<body>

<div>

@RenderBody()

</div>

</body>

</html>