<!DOCTYPE html>

<html lang="en">

<head>

	<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<meta charset="UTF-8" />
	<meta name="viewport" content="initial-scale=1.0, width=device-width" />
	<title>Sports Store</title>

</head>

<body>

<!-- Заголовок -->

<div class="bg-dark text-white p-2">
	<span class="navbar-brand ms-2">SPORTS STORE</span>
</div>

<!-- # Заголовок -->

<!-- Тело -->

<div class="row m-1 p-1">

<!-- Меню -->

<div class="col-3" id="categories">

Put something useful here later

</div>

<!-- # Меню -->

<!-- Контент -->

<div class="col-9">

@RenderBody()

</div>

<!-- # Контент -->

</div>

<!-- # Тело -->

</body>

</html>