<!DOCTYPE html>

<html lang="en">

<head>

	<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, width=device-width">
	<title>SportsStore</title>

</head>

<body>

<div class="bg-dark text-white p-2">
	<span class="navbar-brand ms-2">SPORTS STORE</span>
</div>

<div class="m-1 p-1">
	@RenderBody()
</div>

</body>

</html>